<div class="container-fluid column headband justify-content-around m-0 p-2">
    <div class="container-fluid row align-content-top">
        <div class="container-fluid column col-md-3 mx-2 my-2">
            <p id="describeNow" class=" p-1 m-0">Vite abonnes toi !</p>
            <div class="g-ytsubscribe p-0 m-0" data-channelid="UCtToNyHU2Fjxuh__ypkHiIQ" data-layout="default" data-theme="dark" data-count="default"></div>
        </div>
        <div class="container-fluid infoband column col-md-7 my-2">
            <p class="infoServer col-md-12 p-1 m-0 text-left">MESSAGES :</p>
            <p id ="infoServer" class="infoServer col-md-12 p-1 m-0"></p>
        </div>
        <div class="container-fluid catNavBar column col-md-2 my-2">
            <img src="/public/lib/js/chat/img/cat.png" width="auto" height="100%"/>
        </div>
    </div>
</div>
