<!-- views/partials/head.ejs -->
<!-- Required meta tags -->

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />   
        <meta name="author" content="Michaël Le thiec" />
        <meta name="publisher" content="Michaël Le thiec" />
        <meta name="reply-to" content="miclet002@gmail.com" />
        <meta name="contactstate" content="France" />
        <meta name="google-site-verification" content="zLb6RZyXQ9VqdyqP3vJ_TYm-E1ZLk8t5HCmXl4aXTls" />
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <meta name="contactstate" content="France" />
        <!-- My CSS -->
        <link rel="stylesheet" href="/public/assets/css/<%= params.css %>" />
        <!--<meta name="google-site-verification" content="hzdmWJ0LtqQ2wAw5eDVWPz4dAkGwRe7MginlAAkjh08" />-->
    <title>Alex World</title>