<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta name="author" content="Michaël Le thiec" />
<meta name="publisher" content="Michaël Le thiec" />
<meta name="reply-to" content="miclet002@gmail.com" />
<meta name="contactstate" content="France" />
<meta name="google-site-verification" content="zLb6RZyXQ9VqdyqP3vJ_TYm-E1ZLk8t5HCmXl4aXTls" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
<!-- My CSS -->
<link rel="stylesheet" href="/public/assets/css/headband.css" />
<link rel="stylesheet" href="/public/assets/css/navbar.css" />
<link rel="stylesheet" href="/public/assets/css/<%= params.css %>" />
<title>Alex World</title>