<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">
        <img src ="../../public/assets/img/beerus_avatar2.png" width="100px" height="100px"/>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse col-md-12" id="navbarSupportedContent">
    <ul class="navbar-nav col-md-12">
      <li class="nav-item col-md-2 active">
          <a class="nav-link buttonSimcity" href="#">SIMCITY<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item col-md-2">
        <a class="nav-link buttonGravitrax" href="#">GRAVITRAX</a>
      </li>
      <li class="nav-item col-md-2 ">
        <a class="nav-link buttonNature" href="/nature">NATURE</a>
      </li>
      <li class="nav-item col-md-2 dropdown">
        <a class="nav-link dropdown-toggle buttonFortnite" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        FORTNITE  
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Mes vidéos</a>
          <a class="dropdown-item" href="#">Mes statistiques</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Items</a>
        </div>
      </li>
      <li class="nav-item col-md-2">
        <a class="nav-link buttonBasketUS" href="#">BASKET US</a>
      </li>
    </ul>
   </div>
</nav>