<a href="https://www.youtube.com/channel/UCtToNyHU2Fjxuh__ypkHiIQ/videos" class="container-fluid col-md-2 news bg-danger text-light rounded p-0 m-0">
    <p> En Live </p>
    <p> à partir de 18h00 </p>
    <p> sur </p>
    <p>
        <img src="/public/assets/img/logoYT.png" width="50%" height="50%" alt="youtube"/> 
    </p>
</a>
