<a href="https://www.youtube.com/channel/UCtToNyHU2Fjxuh__ypkHiIQ/videos" class="news">
    <p> Retrouves moi</p>
    <p> sur </p>
    <p>
        <img src="/public/assets/img/logoYT.png" width="50%" height="50%" alt="youtube"/> 
    </p>
</a>