<a class="news" href="https://www.youtube.com/channel/UCtToNyHU2Fjxuh__ypkHiIQ/videos">
    <p> Retrouves moi</p>
    <p> sur </p>
    <p>
        <img class="logoYT" src="/public/assets/img/logoYT.png" alt="youtube"/> 
    </p>
</a>
