@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Courgette|Fascinate+Inline|Black+Ops+One|Great+Vibes|Kaushan+Script|Luckiest+Guy|Modak|Pacifico|Permanent+Marker|Play|Turret+Road&display=swap');
::-webkit-scrollbar{width:5px}
::-webkit-scrollbar-track{background:#c0c0c0;border-radius:0px}
::-webkit-scrollbar-thumb{background:rgba(140,186,255,1);border-radius:8px}
footer{
    margin:0;
    padding:0;
    height : 3em;
    text-align: end;
}
html{
    --font-family-body : 'Play', cursive;
    --color-txt-titleVideo : rgb(255,255,255);
    --color-bgd-titleVideo : rgb(50,50,50);
    --color-bgd-bodyPage: rgb(245,245,245);
    --shadow-txt-title: 1px 1px 1px rgba(140,186,255,1);
    --color-bgd-infos: rgb(149,149,149);
    --border-infos: 2px inset powderblue;
    --shadow-box-infos: 2em 2em 3em rgba(0,0,0,0.7);
    --font-size-infos: 1.2em;
    --shadow-txt-infos: 1px 1px 1px rgb(0,0,0);
    --color-txt-infos: rgb(240,240,240);
    --color-bgd-title1 : rgba(50,50,50,0.8);
    --color-bgd-title2 : rgba(50,50,50,0.5);
    --font-size-yourComments: 1.8em;
    --gradient-comment-old: #f85032; /* Old browsers */
    --gradient-comment-moz: -moz-linear-gradient(-45deg, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6-15 */
    --gradient-comment-webkit: -webkit-linear-gradient(-45deg, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
    --gradient-comment-standard: linear-gradient(135deg, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    --gradient-comment-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
body {
    z-index:1;
    font-family: var(--font-family-body);
    overflow-x: hidden;
}
.hidden {
    display: none;
}
h1 {
    color:  rgba(9,69,158,1);
    text-shadow :  3px 3px rgba(140,186,255,1),  4px 4px 3px rgba(9,69,158,1), 15px 15px 2px rgba(0,0,0,0.7);
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}


.bodyPage {
    background: #a7cfdf; /* Old browsers */
background: -moz-linear-gradient(-45deg, #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #a7cfdf 0%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.title{
    text-shadow: var(--shadow-txt-title);
    color: var(--color-txt-titleVideo);
    background:  var(--color-bgd-titleVideo);
}

.infos{
    border-radius: 0.5em;
    border: var(--border-infos);
    box-shadow: var(--shadow-box-infos);
    text-shadow:  var(--shadow-txt-infos);
    color: var(--color-txt-infos);
    background: var(--gradient-info-old);
    background: var(--gradient-info-moz);
    background:  var(--gradient-info-webkit);
    background: var(--gradient-info-standard);
    filter: var(--gradient-info-filter);
}
.description{
    width:100%;
    margin-bottom:0;
    background-color: var(--color-bgd-title1);
}
.publishedAt{
    width:100%;
    margin-top:0;
    background-color: var(--color-bgd-title2);
}
.comments{
    border-radius: 0.5em;
    border: var(--border-infos);
    box-shadow: var(--shadow-box-infos);
    font-family: var(--font-family-infos);
    text-shadow:  var(--shadow-txt-infos);
    color: var(--color-txt-infos);
    background: var(--gradient-comment-old);
    background: var(--gradient-comment-moz);
    background:  var(--gradient-comment-webkit);
    background: var(--gradient-comment-standard);
    filter: var(--gradient-comment-filter);
}
.yourComments{
    width:100%;
    margin-bottom:0;
    background-color: var(--color-bgd-title1);
}
@media screen and (max-width: 680px){
    body {
        font-size: 10px;
        font-family : var(--font-family-body);
    }

    .title{
        font-weight: 200;
        font-size:3em;
    }
    .bodyPage {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #infoVideo{
        height:60%;
    }
    .infos{
        overflow-y: scroll;
        font-size: var(--font-size-infos);

    }
    .comments{
        margin :0;
        padding:0;
        overflow-y: scroll;
    }
    .comment {
        margin:0;
        padding:0;
    }
    .commentInfo {
        margin:0;
        padding:0; 
    }
    .commentText{
        margin:0;
        padding:0;
    }
    .commentText > p {
        margin:0;
        padding:0;
    }
    .yourComments{
        font-size: var(--font-size-yourComments);
    }
    .imgAvatar{
        width: 3em;
        height: 3em;
    }
    .author{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 1480px) and (min-width: 681px){
    body {
        font-size: 12px;
    }
    .bodyPage {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
.title{
    font-size: 3em;
}
  
    .description{
        font-size: 3em;
    }
    .publishedAt{
        font-size: 1em;
    }
    .descriptionText{
        font-size: 1.5em;
    }
    .infos{
        margin:0;
        padding:0;
        overflow-y: scroll;
        font-size: var(--font-size-infos);
width: 33%;
    }
    .comments{
        margin :0;
        padding:0;
        width: 66%;
        overflow-y: scroll;
    }
    .comment {
        margin:0;
        padding:0;
    }
    .commentInfo {
        margin:0;
        padding:0; 
    }
    .commentText{
        margin:0;
        padding:0;
    }
    .commentText > p {
        margin:0;
        padding:0;
        font-size: 1.5em;
    }
    .yourComments{
        font-size: 2.5em;
    }
    .imgAvatar{
        width: 4em;
        height: 4em;
    }
    .author{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1481px){
    body {
        font-size: 16px;
    }
    .bodyPage {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
     .title{
    font-size: 5em;
}
    #infoVideo{
    }
        .description{
            font-size: 4em;
        }
        .publishedAt{
            font-size: 1em;
        }
        .descriptionText{
            font-size: 1.5em;
        }
        .infos{
            width: 50%;
            margin:0;
            padding:0;
            overflow-y: scroll;
            font-size: var(--font-size-infos);
    
        }
        .comments{
            width:50%;
            margin :0;
            padding:0;
            overflow-y: scroll;
        }
        .comment {
            margin:0;
            padding:0;
        }
        .commentInfo {
            margin:0;
            padding:0; 
        }
        .commentText{
            margin:0;
            padding:0;
        }
        .commentText > p {
            margin:0;
            padding:0;
            font-size: 2em;
        }
        .yourComments{
            font-size: 3em;
        }
        .imgAvatar{
            width: 4em;
            height: 4em;
        }
        .author{
            font-size: 1.5em;
        }
}


