<div id="chat">
     <div class="chatHandler">
        <img src="/public/lib/js/chat/img/leave.png" width="auto" height="100%"/>
        <div id="cat">
            <span>THE </span>
            <img src="/public/lib/js/chat/img/cat.png" width="100px" height="100px"/>
        </div>
        <div>
            <img src="/public/lib/js/chat/img/reduction.png" width="auto" height="100%"/>
        </div>
    </div>
    <div class="chatBand"> 
    </div>
    <div class="chatBodyUp">
        <div class="chatBodyUpLeft">
            <div id="chatConnected"></div>
            <div id="chatGame"></div>
            <div id="chatPseudo">
                <label>Ton Pseudo :</label>
                <input id="pseudo" value=""/>
            </div>
        </div>
        <div class="chatBodyUpRight">
            <div id="chatOutput"></div>
            <div class="chatInput">
                <textarea id="chatInput" autocomplete="off" autofocus row = "2" value=""></textarea>
                <a id="chatButton" href="#">OK !</a>
            </div>
        </div>
    </div>
</div>
<div id="chatLogin">
    <div class="chatHandler">
        <img src="/public/lib/js/chat/img/leave.png" width="auto" height="100%"/>
        <div id="cat">
            <span>THE </span>
            <img src="/public/lib/js/chat/img/cat.png" width="100px" height="100px"/>
        </div>
        <div>
            <img src="/public/lib/js/chat/img/reduction.png" width="auto" height="100%"/>
        </div>
    </div>
    <div class="chatBand"> 
    </div>
    <div id="chatLoginBody">
        <p>
        <label for="chatLoginPseudo">Ton pseudo :</label>
        <input id="chatLoginPseudo" name="chatLoginPseudo" value=""/>
        <a id="chatLoginButton" href="#">GO !!</a>
        </p>
    </div>
</div>
