<div id="chat" class="chat">
    <div id="chatHandler" class="chatHandler">
        <img src="/public/lib/js/chat/img/leave.png" width="auto" height="100%"/>
        <div id="cat">
            <span>THE </span>
            <img src="/public/lib/js/chat/img/cat.png" width="100px" height="100px"/>
        </div>
        <div>
            <img src="/public/lib/js/chat/img/reduction.png" width="auto" height="100%"/>
        </div>
    </div>
    <div class="chatBand"> 
    </div>
    <div class="chatBodyUp">
        <div class="chatBodyUpLeft">
            <h4>Connecté(e)s :</h4>
            <div id="chatConnected"></div>
            <div id="chatGame"></div>
            <div id="chatOptions">

            </div>
        </div>
        <div class="chatBodyUpRight">
            <h4>Le Lynx</h4>
            <div id="chatOutput"></div>
            <div class="chatInput">
                <textarea id="chatInput" autocomplete="off" autofocus row = "2" value=""></textarea>
                <a id="chatButton" href="#">OK !</a>
            </div>
        </div>
    </div>
</div>
<div id="chatLogin" class="chatLogin">
    <div id="chatHandlerLogin" class="chatHandler">
        <img class="leave" src="/public/lib/js/chat/img/leave.png" width="auto" height="100%"/>
        <div id="cat">
            <span>THE </span>
            <img src="/public/lib/js/chat/img/cat.png" width="100px" height="100px"/>
        </div>
        <div>
            <img class="reduction" src="/public/lib/js/chat/img/reduction.png" width="auto" height="100%"/>
        </div>
    </div>
    <div class="chatBand"> 
    </div>
    <div id="chatLoginBody">
        <div>
            <h3 for="chatLoginPseudo">TON PSEUDO :</h3>
            <input id="chatLoginPseudo" name="chatLoginPseudo" value=""/>
            <a id="chatLoginButton" href="#">GO !!</a>
        </div>
    </div>
</div>
